__pycache__/
*.pyc
.venv*/
external/
data/
models/
runs/
mlruns/
logs/
outputs/
baseline_outputs/
orca_wb97x_631gd_glycine_pt_nh_oh_scan_80/
*.tar.gz
*.run

*.pdf
*.csv
*.png
*.log
*.out
*.err
*.h5
*.hdf5
*.bak
*.hess


outslurm